# Frontend Connection
FRONTEND_URL=http://localhost:5173

# Database Connection
DB_HOST=mysql.tadzz.net
DB_PORT=61029
DB_NAME=airlineSystem
DB_USER=jacob
DB_PASSWORD=FgJ]u9c{@02VTE*|bMuJ
DB_SSL_MODE=Required

# JWT Authentication (add random value for the key)
JWT_KEY=111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
JWT_ISSUER=AirlineApi
JWT_AUDIENCE=AirlineClient
