.idea/*
.vscode/
.DS_Store
client/.env
server/AirlineAPI/.env
node_modules/
server/AirlineAPI/client.env

# ASP.NET / .NET user files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.cache.json

# Extras
db-queries/*.sql
notes.txt
